.bkg{
    background-color: white;
    padding: 5px 0;
}

.spinner{
    /* display: inline-block !important; */
    position: relative;
    margin: 26px;
}
.recalculatingPrices-container{
    /* display: flex; */
    margin: auto;
    padding-bottom: 22px;
    padding-top: 10px;

}

.btn-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 16px;
    row-gap: 12px;
    padding: 12px 28px !important;
}
.btn{
    margin-left: 0 !important;
    height: fit-content;
}
.reprice-title{
    grid-column-start: 1;
    grid-column-end: 3;
}

.nonReprice{
    margin-top: -12px;
}