.table-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0;
}


.slds-spinner_container{
    z-index: 1 !important;
    margin-top: 80px !important;
}



.container{
    max-width: 1200px;
    margin: 0 auto;
}