.slds-m-right_x-small {
    margin-right: 0.75rem;
}

:host {
    --lwc-modalCloseButtonVisibility: hidden;
}

.slds-modal__close {
    display: none !important;
}

/* lightning-modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    background-color: white;
}

lightning-modal-body p {
    margin: 0;
    padding: 0;
} */