@font-face {
    font-family: "Quicksand";
    src: url('/s/sfsites/c/resource/QuicksandGoogleFont') format('TrueType');
 }

.demo-only.demo-only--sizing.slds-grid.slds-wrap{
  padding: 0.75rem;
}

.demo-only.demo-only--sizing.slds-grid.slds-wrap label{
  font-size:12px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}

.inputs{
    width: 85%;
    display: inline-block;
}

.validate{
    height: auto;
    width: auto;
    margin: 20px 0px;
    margin-left: 2%;
}

.validate p{
    font-size: 17px;
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
}

.valid {
    color: #19b819;;
}
  
.valid:before {
    position: relative;
    left: -10px;
    content: "✔";
}

.inputPass{
    display: inline-block !important;
    width: 90% !important;
}

.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear both;
	animation: vibrate-1 0.3s linear both;
}

 @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
        transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
         transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
        transform: translate(0);
    }
  }
  
.slds-has-error-cus{
    border-color: #c23934;
    background-clip: padding-box;
    box-shadow: none;
}

@media only screen and (max-width: 600px) {
  .demo-only.demo-only--sizing.slds-grid.slds-wrap{
    flex-direction: column !important;
  }

  .invalid{
    font-size: 13px !important;
  }

  .valid{
    font-size: 13px !important;
  }
}