.inputs{
    width: 85%;
    display: inline-block;
}

.errInput{
    letter-spacing: 1px;
    color: #c23934;
    font-size: .75rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: .625rem;
}

.viewIcon{
    position: absolute;    
    right: -8px;
    top: -3px;
    
}
.viewIcon{
    --slds-c-button-text-color-active:none !important;
    --sds-c-button-text-color-active: none !important;
    --lwc-brandAccessibleActive: none !important;
    --slds-c-button-color-background-active:none !important;
    --slds-c-button-color-border-active:none !important;
    --color-primary: none !important;
    --sds-c-button-text-color-active : none !important;
    --lwc-brandAccessibleActive: none !important;
    color:transparent !important;
    border-color: transparent !important;
}

button.slds-button:active{
    color:transparent !important;
    border-color: transparent !important;
}