.icon{
	--slds-c-icon-color-foreground: #05a6df;
	--slds-c-button-text-color-hover: #05a6df;
	display: flex;
	justify-content: center;
}

.custom-help-container {
    position: relative;
    display: inline-block;
	width: 100%;
}

.custom-help-text {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #16325c;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    white-space: nowrap;
    z-index: 9000;
}

.custom-help-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #16325c transparent transparent transparent;
}