.logos-component{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.logos-component-title{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.logos-component img{
    /* filter: grayscale(1); */
    padding: 20px 0;
    opacity: .7;
    transition: opacity .2s linear;
}
.logos-logo-container{
    max-width: 25%;
    width: 100%;
    text-align: center;
}
.logos-logo-container img{
    width: 60%;
}
.logos-component img:hover,
.logos-component img:focus{
    opacity: .99;
}