/* Inputs */
.form_inputs {
    border: none;
}

/* Form Element */
.slds-form-element {
    width: 30%;
}

/* Input Containers */
.slds-box {
    background-color: white;
}

/* Reset Button */
.slds-button.resetButton {
    height: 43px;
    background-color: var(--button-primary-color-background, #2C2B2C);
    color: var(--lwc-colorTextButtonBrand, #FFFFFF);
}

.slds-button.resetButton:hover {
    background-color: var(--lwc-colorBackgroundButtonBrand, rgb(242, 188, 48));
    color: var(--lwc-colorTextButtonBrand, #FFFFFF);
    border: none;
}

/* Error Message */
.errorMessage {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
    color: var(--lwc-ErrorTextColor, #ff9e9e);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    display: inline-flex;
    position: absolute;
    margin-left: -166px;
    border: 2px solid #fff;
    border-top-color: #2f2f2f;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Responsive */
@media screen and (max-width: 768px) {
    .slds-form-element {
        width: 100%;
    }
}