.slds-icon_container.slds-icon-utility-error.slds-progress__marker.slds-progress__marker_icon.omni-stepchart-button.omni-stepchart-error-button {
    margin-left: 0;
    box-shadow: none;
  }
  
  .omni-stepchart-heading {
    font-size: 1.125rem;
    font-weight: 400;
  }
  
  .slds-progress_vertical .slds-progress__list .omni-vert-stepchart-completed:before,
  .slds-progress_vertical .slds-progress__list .omni-vert-stepchart-completed:after,
  .slds-progress_vertical .slds-progress__list .omni-vert-stepchart-active:before,
  .slds-progress_vertical .slds-progress__list .omni-vert-stepchart-last-completed:before {
    background-color: rgb(244 178 35);
  }
  
  .slds-progress_vertical .slds-progress__list .omni-vert-stepchart-last:after {
    background-color: rgb(244 178 35);
  }
  
  .slds-progress_vertical .slds-progress__list .omni-vert-stepchart-active-initial:before {
    background-color: rgb(244 178 35);
  }

  .progressLineColor{
    background: rgb(244 178 35) !important;
  }